#app {
  height: 100vh;
}

.bg-image {
  background-image: url("https://image.freepik.com/free-vector/flat-geometric-background_23-2148941302.jpg");
  background-repeat: no-repeat;
  width: 60%;
  height: 80vh;
  background-size: cover;
  min-width: 200px;
}

.bg-russian-violet {
  background-color: rgb(51, 13, 66);
}

.btn-rose {
  background-color: #e385b2ff;
}

.opacity-5 {
  opacity: 0.8 !important;
}

#form-container,
#result-container {
  min-width: 200px;
}

#result-container {
  display: none;
}

#username-message,
#password-message {
  display: none;
}

.error-message {
  font-size: 14px;
  color: red;
  margin-bottom: 2rem;
}

.text-green{
  color: green;
}
